name: publish

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Hugo dependencies for our site
        run: sudo apt-get update && sudo apt-get -y install python-docutils python-pygments
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.91.2'
      - name: Clone theme
        run: bin/setup_theme
      - name: Build
        run: hugo -F
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.REPO_PUBLISH_KEY }}
          external_repository: EDyO/edyo.github.io
          publish_branch: master
          publish_dir: ./public
          cname: www.entredevyops.es
